.product-img {
  height: 200px;
  width: 200px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 1190px;
  padding: 20px;
  margin: 0 auto;
}
.card {
  background-color: antiquewhite;
  padding: 1rem;
}
.product-info {
  display: flex;
  justify-content: space-between;
}
.btn {
  align-self: center;
}
@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
  }
}
@media screen and (min-width: 1100px) {
  .container {
    grid-template-columns: repeat(4, 1fr);

    /* max-width: 1190px; */
    /* margin: 0 auto; */
  }
}
